

<!-- f.valid && -->
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="container">
    <h1>Angular Form</h1> <br>
    <hr> <br> 
  <h3>Your Name</h3>
  <label for="firstname">Firstname:</label>
  <input
    type="text"
    required
    #firstName="ngModel"
    name="firstName"
    id="firstName"
    ngModel
  />
  <br />
  <br />
  <span *ngIf="firstName.invalid && firstName.touched" style="color: red">
    Please enter a valid input for firstname <br /><br
  /></span>

  <label for="lastname"> Lastname:</label>
  <input
    type="text"
    required
    #lastName="ngModel"
    name="lastName"
    id="lastName"
    ngModel
  />
  <br /><br />
  <span *ngIf="lastName.invalid && lastName.touched" style="color: red">
    Please enter a valid input for lastname <br /><br
  /></span>

  <h3>Gender</h3>
  <label for="male">male</label>
  <input
    type="radio"
    required
    #gender="ngModel"
    name="gender"
    id="male"
    value="male"
    ngModel
  />
  <span *ngIf="gender.invalid && gender.touched" style="color: red">
    Please select your gender
  </span>
  <br />
  <label for="female">female</label>
  <input 
    type="radio" 
    name="gender" 
    id="female" 
    value="female" 
    ngModel 
  />

  <span *ngIf="gender.invalid && gender.touched" style="color: red">
    Please select your gender <br />
    <br />
  </span>
  <br /><br />

  <h3>Qualifications and Skills</h3>
  <label for="qualification">Qualification:</label>
  <select
    required
    #qualification="ngModel"
    name="qualification"
    id="qualification"
    ngModel
  >
    <option value="BSC">BSc</option>
    <option value="OND">OND</option>
    <option value="HND">HND</option>
  </select>
  <br /><br />
  <span
    *ngIf="qualification.invalid && qualification.touched"
    style="color: red"
  >
    Please enter a valid input for qualification <br /><br
  /></span>

  <span> Skills:</span>
  <div *ngFor="let option of options">
    <input
      type="checkbox"
      id="option"
      name="{{ option }}"
      value="{{ option }}"
      (change)="addSkill(option)"
    />
    <label for="skills"> {{ option }}</label
    ><br />
  </div>
  <br />

  <button type="submit">Submit</button>
</form>
